.transaction-history {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-background-1);
  box-shadow: 0px 32px 45px -14px rgba(0,0,0,0.75);
}

.transaction-history-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--card-padding);
  padding-bottom: 0;
}


.transaction-history-buttons {
  display: flex;
  gap: 10px;
}

.transaction-history-buttons button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  color: var(--color-text-1);
  background-color: rgba(0,0,0,0);
  transition: all 300ms ease;
}

.transaction-history-buttons button:hover {
  color: var(--color-text-2);
}

.transaction-history table {
  width: 100%;
  border-collapse: collapse;
}

.transaction-history th,
.transaction-history td {
  padding: 1.5rem var(--card-padding);
  text-align: left;
  color: var(--color-text-1);
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Adjust the max-width as needed */
}

.transaction-history th {
  background-color: var(--color-background-1);
  color: var(--color-text-1);
}

.transaction-history .header-content {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.transaction-history .material-icons-sharp {
  font-size: 1.5rem;
}

.transaction-history td {
  background-color: var(--color-background-1);
  color: var(--color-text-1);
}


.transaction-history tr:hover td {
  background-color: #fff !important;
  color: var(--color-background-1) !important;
}


.transaction-history .active td{
  background-color: var(--color-background-3) !important;
  border: 4px !important;

}

.transaction-history tr:nth-child(even) td {
  background-color: var(--color-background-1);
}


.transaction-history .select-checkbox,
.transaction-history .select-all-checkbox {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.transaction-history .select-checkbox:checked,
.transaction-history .select-all-checkbox:checked {
  background-color: #cccccc;
}