.new-card-button:hover {
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.new-card-button {
  background: rgb(134, 132, 140, .1);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  color: white;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 300ms ease;
}

.new-card-button img {
  opacity: 0.5;
  width: 6rem;
  margin: auto;
}