.new-card-button:hover {
  cursor: pointer;
}

.new-card-button {
  background: rgb(134, 132, 140, .1);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  color: white;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.new-card-button .plus-sign {
  opacity: 0.5;
  width: 6rem;
  margin: auto;
}