.new-transaction-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem var(--card-padding);
  border-radius: var(--card-border-radius);

  background: rgb(134, 132, 140, .1);
  margin-top: 8px;
  width: 100%;
}

.new-transaction-button:hover {
  cursor: pointer;
}

.new-transaction-button plus-sign {
  opacity: 0.5;
  width: 2.5rem;
  margin: auto;
}