.card-form {
  margin-bottom: 1rem;
}

.card-form input,
.card-form select {
  width: 100%;
  padding: .75rem;
  margin-bottom:.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 1.2rem;
  transition: border-color 0.3s;
}

.card-form input:focus,
.card-form select:focus {
  border-color: #007bff;
  background-color: #fff;
  outline: none;
}

.card-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.card-color-selections {
  display: flex;
  justify-content: space-evenly;
}

.card-color-selections .card-color-select {
  border-radius: .4rem;
  width: 2rem;
  height: 2rem;
}

.card-color-selections .active {
  border: solid .35rem var(--color-primary);
}