.investments-container {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
}

.investments-container img {
  width: 2.4rem;
}

.investments-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--card-padding);
  padding-bottom: 0;
}

.investments-container .header a {
  display: flex;
  align-items: center;
  color: var(--color-primary);
}


.investments-container .investment:last-child {
  border: none;
}

