/* ======================== ASIDE & SIDEBAR ======================== */

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 88vh;
}

/* Only on mobile and tablets */
aside button#close-btn {
  display: none;
}

aside .sidebar a {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  height: 4.2rem;
  color: var(--color-gray-light);
  position: relative;
}

aside .sidebar a span {
  font-size: 1.7rem;
  margin-left: 3rem;
  transition: all 300ms ease;
}

aside .sidebar a.active {
  background: var(--color-white);
  color: var(--color-primary);
}

aside .sidebar a.active::before {
  content: '';
  width: 6px;
  height: 100%;
  position: absolute;
  background: var(--color-primary);
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 2rem;
}

aside .sidebar h4 {
  font-weight: 500;
}

/* ======================== UPDATES ======================== */
aside .updates {
  background: var(--color-white);
  border-radius: var(--border-radius-1);
  text-align: center;
  padding: var(--card-padding);
}

aside .updates span {
  font-size: 2.8rem;
}

aside .updates h4 {
  margin: 1rem 0;
}

aside .updates a {
  display: block;
  width: 100%;
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-1);
  padding: 0.8rem 0;
  margin-top: 2rem;
  transition: all 30ms ease;
}

aside .updates a:hover {
  box-shadow: 0 1rem 2rem var(--color-primary-light);
}


@media screen and (max-width:1024px) {
  aside {
    position: fixed !important;
    top: 0 !important;
    left: -100% !important;
    z-index: 3 !important;
    background: var(--color-white) !important;
    width: 22rem !important;
    height: 100vh !important;
    box-shadow: 2rem 0 2rem var(--color-primary-light) !important;
    display: none !important;
    animation: showSidebar 300ms ease forwards !important;
  }

  @keyframes showSidebar {

    to {
      left: 0
    }
  }

  aside button#close-btn {
    display: inline-block !important;
    width: 3rem !important;
    height: 3rem !important;
    position: absolute !important;
    top: 1rem !important;
    right: 1rem !important;
    z-index: 4 !important;
    background: transparent !important;
    color: var(--color-dark) !important;
  }

  aside .sidebar {
    margin-top: 4rem !important;
  }

  aside .updates {
    display: none !important;
  }
}