/* ======================== MONTHLY REPORT ======================== */
.portfolio-report-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.portfolio-report-container h1 {
  font-size: 1.8rem;
}
