/* Centering the dialog */
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  background: var(#23232a);
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  border: none;
  position: relative;
  margin: auto;
}

.modal-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.modal-header .close-button {
  padding: 4.5px;
  width: 2rem;
  height: 2rem;
  background-color: #55555555;
  opacity: .6;
  border-radius: 50%;
}
.modal-header .close-button:hover {
 cursor: pointer;
}


