.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  padding: var(--card-padding);
  background: var(--color-light);
}

.error-page h1 {
  font-size: 10rem;
  color: var(--color-white);
  padding: var(--padding-2);
  border-radius: var(--border-radius-1);
  margin-bottom: var(--padding-1);
}

.error-page h2 {
  font-size: 2.5rem;
  margin-bottom: var(--padding-2);
}

.error-page p {
  font-size: 1.2rem;
  margin-bottom: var(--padding-1);
}

.error-page .btn {
  display: inline-block;
  padding: var(--padding-1) var(--padding-2);
  color: var(--color-white);
  border-radius: var(--border-radius-2);
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.error-page .btn:hover {
  background: var(--color-primary-light);
}
