/*==================== RECENT TRANSACTION ====================*/

.recent-transactions {
  margin-top: 2rem;
}

.recent-transactions img {
  width: 2.2rem;
}

.recent-transactions .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.recent-transactions .header a {
  display: flex;
  align-items: center;
  color: var(--color-primary);
}


@media screen and (max-width:1024px) {
  .recent-transactions {
    margin-top: 3rem !important;
  }
}

@media screen and (max-width:600px) {

  .cards {
    grid-template-columns: 1fr
  }
}