/* ======================== FAST PAYMENT ======================== */
.fast-payment-container {
  margin-top: 2rem;
  display: flex;
  align-self: center;
  gap: 2rem;
}

.fast-payment-container .badge:first-child span {
  display: flex;
  align-self: center;
  justify-content: center;
  height: fit-content;
  font-size: 1.5rem;
}

@media screen and (max-width:600px) {
  .fast-payment-container {
    flex-direction: column !important;
    align-items: flex-start !important;
    margin-top: 3rem !important;
    gap: 1.4rem
  }
}