.transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem var(--card-padding);
  border-radius: var(--card-border-radius);
  transition: all 300ms ease;
}

.transaction:hover {
  background: var(--color-white);
  cursor: pointer;
}

.transaction .service {
  display: flex;
  gap: 1rem;
}

.transaction .service .icon {
  padding: var(--padding-2);
  border-radius: var(--border-radius-1);
  display: flex;
  align-items: center;
}

.card-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-details .card {
  display: flex;
  width: 4.6rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-2);
}