:root {
  --color-shadow: rgba(0, 0, 0, 0.3);
  --color-white: #ffffff !important;
  --color-light: #f0eff5;
  --color-gray-light: #86848c;
  --color-gray-dark: #56555e;
  --color-dark: #27282f;
  --color-primary: rgb(71, 7, 234);
  --color-success: rgb(34, 202, 75);
  --color-danger: rgb(255, 67, 54);
  --color-warning: rgb(234, 181, 7);
  --color-purple: rgb(160, 99, 245);
  --color-primary-light: rgba(71, 7, 234, 0.2);
  --color-success-light: rgba(34, 202, 75, 0.2);
  --color-danger-light: rgba(255, 67, 54, 0.2);
  --color-purple-light: rgba(160, 99, 245, 0.2);
  --card-padding: 1.6rem;
  --padding-1: 1rem;
  --padding-2: 8px;
  --card-border-radius: 1.6rem;
  --border-radius-1: 1rem;
  --border-radius-2: 6px;

  /* CARD COLORS */

  --color-card-warm-red: linear-gradient(90deg, #ff796f, #bd261b);
  --color-card-cool-purple: linear-gradient(90deg,#7f7191, #27282f);
  --color-card-dark-purple: linear-gradient(90deg, #5d70ff, #5719c2);
  --color-card-sunset-glow: linear-gradient(90deg, #cc6e5d, #d68f84);
  --color-card-ocean-blue: linear-gradient(90deg, #679bce, #85bbdb);
  --color-card-mint: linear-gradient(90deg, #a3d270, #77b588);
  --color-card-lavender: linear-gradient(90deg, #b79dd1, #697ebc);
  --color-card-peach: linear-gradient(90deg, #caa37f, #da978e);
  --color-card-lemon-lime: linear-gradient(90deg, #c0c28a, #b5bf4a);
  --color-card-tropical-sunset: linear-gradient(90deg, #d18cb6, #7b8aae);
}

.dark-theme {
  --color-shadow: rgba(0, 0, 0, 0.3);
  --color-white: #131316;
  --color-light: #23232a;
  --color-dark: #ddd;
  --color-gray-dark: #adacb5;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  appearance: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  background: var(--color-light);
  font-family: poppins, sans-serif;
  min-height: 100vh;
  color: var(--color-dark);
}

img {
  width: 100%;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.86rem;
  font-weight: 500;
}

h6 {
  font-size: .76rem
}

p {
  font-size: 0.86rem;
  color: var(--color-gray-dark);
}

small {
  font-weight: 300;
  font-size: .77rem;
}

.text-muted {
  color: var(--color-gray-light);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.purple {
  color: var(--color-purple);
}

.bg-primary {
  background: var(--color-primary);
  box-shadow: 0 0.8rem 0.8rem var(--color-primary-light);
}

.bg-danger {
  background: var(--color-danger);
  box-shadow: 0 0.8rem 0.8rem var(--color-danger-light);
}

.bg-success {
  background: var(--color-success);
  box-shadow: 0 0.8rem 0.8rem var(--color-success-light);
}

.bg-purple {
  background: var(--color-purple);
  box-shadow: 0 0.8rem 0.8rem var(--color-purple-light);
}

.bg-dark {
  background: #27282f;
  box-shadow: 0 0.8rem 0.8rem var(0, 0, 0, 0.2);
}

.bg-primary-light {
  background: var(--color-primary-light);
}

.bg-danger-light {
  background: var(--color-danger-light);
}

.bg-success-light {
  background: var(--color-success-light);
}

.bg-purple-light {
  background: var(--color-purple-light);
}



/*==================== MEDIA QUERIES FOR TABLETS ====================*/

@media screen and (max-width:1024px) {


  main aside {
    position: fixed !important;
    top: 0 !important;
    left: -100% !important;
    z-index: 3 !important;
    background: var(--color-white) !important;
    width: 22rem !important;
    height: 100vh !important;
    box-shadow: 2rem 0 2rem var(--color-primary-light) !important;
    display: none !important;
    animation: showSidebar 300ms ease forwards !important;
  }

  @keyframes showSidebar {

    to {
      left: 0
    }
  }

  main aside button#close-btn {
    display: inline-block !important;
    width: 3rem !important;
    height: 3rem !important;
    position: absolute !important;
    top: 1rem !important;
    right: 1rem !important;
    z-index: 4 !important;
    background: transparent !important;
    color: var(--color-dark) !important;
  }

  button:hover {
    cursor: pointer !important;
  }

  main aside .sidebar {
    margin-top: 4rem !important;
  }

  main aside .updates {
    display: none !important;
  }

  main section.middle .cards {
    grid-template-columns: 1fr 1fr !important;
  }

  main canvas {
    margin: 3rem 0 1rem !important;
  }

  main section.right .recent-transactions {
    margin-top: 3rem !important;
  }

}

/*==================== MEDIA QUERIES FOR PHONES ====================*/

@media screen and (max-width:600px) {
  nav .profile-area {
    gap: 2.6rem !important;
  }

  nav .profile-area h5,
  nav .profile span {
    display: none !important;
  }

  main section.middle .cards {
    grid-template-columns: 1fr
  }

  main section.middle .fast-payment {
    flex-direction: column !important;
    align-items: flex-start !important;
    margin-top: 3rem !important;
    gap: 1.4rem
  }

}